<!DOCTYPE html>
<html lang="zh">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>$title</title>
  <link rel="stylesheet" type="text/css" href="../static/comm/mui/css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/comm/mui/css/mui.picker.min.css" />
	
	<script type="text/javascript" src="../static/comm/jquery/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../static/comm/mui/js/mui.min.js"></script>
  
</head>
<body>
	$screen_content
</body>
</html>