<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>老来俏管理后台</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../static/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../static/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="../static/assets/css/style.min.css" rel="stylesheet" />
	<link href="../static/assets/css/style-responsive.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="../static/css/back.css" rel="stylesheet" />
</head>
<body>
	$screen_content
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../static/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="../static/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../static/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../static/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../static/assets/crossbrowserjs/respond.min.js"></script>
		<script src="../static/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../static/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../static/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script src="../static/comm/jquery.blockUI.js"></script>
	<script src="../static/comm/jquery.pagination.min.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
